.footer{
   width: 100%;
   display: flex;
   gap: 2rem;
   background-color: #F5EFE6;
   justify-content: right;
   border: 1px solid black;
}
.footer-link-a>ul{
   list-style: none;
   padding: 1rem;
}
.footer-link-a>ul>li>a{
   text-decoration: none;
   color: black;
   padding: 1rem;
  
}