.home-bottom-section {
  border-bottom: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
}
.home-bottom-section-card {
  /* border: 1px solid royalblue; */
  display: flex;
  gap: 0.5rem;
}
.home-bottom-section-title {
  width: 20%;
  /* border: 5px solid yellowgreen; */
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  justify-content: center;
  text-align: left;
  align-items: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding-right: 1rem;
}
.home-bottom-section-list {
  width: 75%;
  border: 2px solid cyan; 
}
.home-bottom-section-list>p{
    justify-content: space-between;
    text-align: start;
}
